---
layout: default
---

<div class="post-content">
  <h1>
    {{ page.title }}
  </h1>
  {% if site.hide_post_date != true %}
    {% include post-date.html %}
  {% endif %}
  {% if page.image %}
    <div class="featured-image">
      <img src="{{ site.github.url }}/assets/img/{{ page.image }}">
    </div>
  {% endif %}
  <article>
    {{ content }}


    {% if page.photos %}
    <ul class="gallery">
    {% for photo in page.photos %}
      <li style="background-image: url('{{ site.baseurl }}{{ photo.image | resize: "800x800>" }}')"><a title="{{ photo.caption }}" href="{{ site.baseurl }}{{ photo.image }}" data-id="#{{ photo.image | slugify }}" data-caption="{{ photo.caption }}"></a></li>
    {% endfor %}
      <li class="spacer"></li>
      <li class="spacer"></li>
      <li class="spacer"></li>
      <li class="spacer"></li>
      <li class="spacer"></li>
      <li class="spacer"></li>
      <li class="spacer"></li>
      <li class="spacer"></li>
      <li class="spacer"></li>
      <li class="spacer"></li>
      <li class="spacer"></li>
      <li class="spacer"></li>
  </ul>

  <div class="overlay">
    <a href="#" class="close">&#10005;</a>
    <a class="prev">&lsaquo;</a>
    <a class="next">&rsaquo;</a>
    <p class="caption"></p>
    <img>
  </div>

  <script src="{{ site.baseurl }}/assets/js/lightbox.js"></script>
  {% endif %}
  </article>
  {% if site.hide_post_share != true %}
    {% include post-share.html %}
  {% endif %}
  {% if site.hide_related_posts != true %}
    {% include related-posts.html %}
  {% endif %}
  {% if site.data.settings.disqus.comments %}
    {% include disqus.html %}
  {% endif %}
</div>
